@import url(http://allfont.ru/allfont.css?fonts=futura-normal);

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {

  position: relative;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

/*Header*/
header {
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-image: url(../img/streamline1.jpg); */
  background-color: rgba(255, 255, 255, 0.5);
}

.wrap_head {
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 18% 80%;
  height: 100%;
}

.container_menu {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  margin: 0 auto;
  padding: 15px;

}

.container_menu h1 {
  text-transform: uppercase;
  font-size: 30px;
  color: #000;
  font-weight: 300;
}

.container_menu h1 span {
  background: #3a5cb7;
  padding-left: 6px;
  padding-right: 6px;
  font-weight: 600;
  color: #FFF;
}

/* top menu */
.menu {
  padding: 6px;
  margin: 0 auto;
  width: 100%;
  background: #fff;
}

.menu ul {
  margin: 50px auto;
  max-width: 1170px;
  list-style: none;
}

.menu ul li {
  padding-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
  /* padding-right:28px; */
}

.menu ul li a {
  color: #000
}

.menu ul li a:hover {
  border-bottom: 1px solid #e4d01b;
  color: #e4d01b;
}

/* end yop menu */
#logo img {
  width: 130px;
}

/* Left */
.phonemob {
  display: none;
}

.menu_but {
  display: none;
}

.work_hour {
  padding-top: 15px;
}

.mail {
  color: #000;
}

.mail:hover {
  border-bottom: 1px solid #000;
}

.work_hour::before {
  content: '';
  background-image: url('../img/clock.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

.mail,
.work_hour {
  position: relative;
  padding-left: 20px;
  font-size: 14px;
}

.mail::before {
  content: '';
  background-image: url('../img/envelope.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
}

.ineed {
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
}

.garant {
  margin-top: 70px;
  font-size: 14px;
  font-style: italic;
  padding-top: 5px;
  border-top: 1px solid #dadada;
}

/* Right */
.right_img {
  width: 100%;
}

.right_img img {
  width: 45%;
}

.right_all {
  background: #e4d01b;
  height: 100%;
  padding-bottom: 20px;
}

.right_all .link {
  font-size: 12px;
  border-bottom: 1px dashed #000;
  color: #000;
  float: right;
}

.phone_link {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 22px;
  color: #000;
  position: relative;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 28px;
}

.phone_link::before {
  content: '';
  background-image: url('../img/smartphone.svg');
  background-size: 25px 25px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

/* service */
.service {
  padding-top: 30px;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto;
}

.service img {
  margin: 25px auto;
}

.service h2 {
  text-align: center;
  font-weight: 400;
  padding: 15px;
}

.bl_map {
  height: 100%;
}

.mapk,
.license {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  height: 296px;
  width: 100%;
}

.mapk:hover,
.license:hover {
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 2px solid #3a5cb7;
}

.mapk img {
  width: 50%;
}

.license img {
  width: 30%;
}

.term {
  padding-top: 20px;
}

.term p {
  position: relative;
  padding-left: 25px;
  padding-bottom: 2px;
}

.term p::before {
  content: '';
  background-image: url('../img/calendar.svg');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
}

.term a {
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  padding-top: 10px;
}

.term a span {
  padding-top: 20px;
  border-bottom: 1px dashed #fff;
  color: #fff;
}

.term a span:hover {
  color: #3a5cb7;
  border-bottom: 1px dashed #3a5cb7;

}

/* end service */
/*  Process*/
#process {
  width: 100%;
  background: #f9f8f8;
  padding-bottom: 30px;
}

#process h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 30px;
}

.wrap_process {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 19% 19% 19% 19% 19%;
  max-width: 1170px;
  margin: 0 auto;
  height: auto;
}

.stages {
  text-align: center;
  margin-top: 30px;

}

.stages h4 {
  font-weight: 400;
  text-align: center;
  padding-top: 14px;
  color: #3a5cb7;
}

.stages img {
  width: 45px;
  margin: 10px auto;
}

.stages p {
  padding: 5px;
  font-size: 14px;
}

.stages p a {
  color: #3a5cb7;
  border-bottom: 1px dashed #3a5cb7;
}

.stages p a:hover {
  color: #3a5cb7;
  border-bottom: none;
}

/* Кнопка процесс */
#button_proc {
  font-size: 14px;
  margin: 10px auto;
  display: block;
  width: 75%;
  padding: 8px 0px 8px 0px;
  background: #3a5cb7;
  border: 1px solid #3a5cb7;
  color: #fff;
  text-transform: uppercase;
}

#button_proc:hover {
  background: #f9f8f8;
  color: #3a5cb7;
}

#button {
  /* border-radius: 16px; */
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  display: inline-block;
  width: 25%;
  padding: 8px 0px 8px 0px;
  background: #e4d01b;
  border: 1px solid #e4d01b;
  color: #fff;
  text-transform: uppercase;
}

#button:hover {
  background: #fff;
  color: #e4d01b;
}

.textmap span {
  font-size: 12px;
  padding-left: 10px;

}

/* Map */
#map_block {
  width: 100%;
}

#map_block h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.wrap_map {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 28% 68%;
  max-width: 1170px;
  margin: 0 auto;
  height: auto;
  padding-bottom: 20px;
}

.img_map img {
  width: 100%;
}

.info {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 63% 37%;
  margin-top: 30px;
}

.price,
.time {
  position: relative;
  padding-left: 35px;
  line-height: 30px;
}

.price h5::before {
  content: '';
  background-image: url('../img/money.svg');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  width: 100%;
  height: 30px;
  left: 0;
  position: absolute;
}

.time h5::before {
  content: '';
  background-image: url('../img/calendar.svg');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  width: 100%;
  height: 30px;
  left: 0;
  position: absolute;
}

.priceinto>div {
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
}

.priceinto {
  display: flex;
  justify-content: flex-start;
}

.one {
  padding-bottom: 20px;
}

.value {
  font-size: 24px;
  color: #3a5cb7;
  font-weight: 400;
}

/* NTERNATIONAL TRANSPORT */
#international_block {
  width: 100%;
}

#international_block h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.international_map {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 28% 68%;
  max-width: 1170px;
  margin: 0 auto;
  height: auto;
  padding-bottom: 20px;
}

.img_international img {
  width: 100%;
}

#international_block .value {
  font-size: 20px;
}

/* Fine */
#fine {
  width: 100%;
  background-color: #3a5cb7;
  /* background-image: url(../img/geografiya1.jpg) */
}

.warp_fine {
  max-width: 1170px;
  margin: 0 auto;
  color: #FFF;
  padding: 30px 0 40px 0;
  text-align: center;
}

.warp_fine p {
  font-size: 18px;
}

.warp_fine h4 {
  position: relative;
  text-transform: uppercase;
  font-weight: normal;
  padding-left: 60px;
  line-height: 60px;
  font-size: 24px;
}

.warp_fine h4::before {
  content: '';
  background-image: url('../img/bribe1.svg');
  background-size: 50px 50px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  left: 19%;
  position: absolute;
}

#button_block_app {
  font-size: 14px;
  margin: 20px auto;
  display: block;
  width: 25%;
  padding: 8px 0px 8px 0px;
  /* background: #3a5cb7; */
  border: 1px solid #eee;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

#button_block_app:hover {
  background: #f9f8f8;
  color: #3a5cb7;
}

/* WHy */
#block_why {
  width: 100%;
  background-image: url(../img/why_im.jpg);
  background-repeat: no-repeat;
  background-position: center left;
  margin: 50px auto 0;
  background-color: #f9f8f8
}

.wrap_why {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 50% 50%;
  max-width: 1170px;
  margin: 0 auto;
  height: auto;
}

.text_why {
  padding: 20px;
  background: #f9f8f8;
}

.text_why h3 {
  text-transform: uppercase;
  padding: 15px;
}

.text_why p {
  padding-left: 15px;
  padding-bottom: 10px;
}

.text_why .phone_text_why {
  padding-top: 10px;
}

.phone_text_why a {
  color: #3a5cb7;
  font-family: 'Montserrat Alternates', sans-serif;
}

.phone_text_why a:hover {
  text-decoration: underline;
}

/* fourth Screen */
#fourth {
  width: 100%;
}

.fourthwr {
  background: #fff;
  max-width: 1170px;
  margin: 30px auto;
}

#fourth h3 {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}

.toogledoc {
  width: 450px;
  display: flex;
  margin: 30px auto;
  justify-content: space-between;
  text-align: center;
}

.toogledoc .activetab {
  color: #000;
  border-bottom: 4px solid #3a5cb7;
}

.toogled {
  text-align: center;
  padding-bottom: 14px;
  display: block;
  flex: 1 auto;
  color: #3a5cb7;
  border-bottom: 1px solid #cecece;
}

.contentwr {
  display: none;
}

.show {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 70% 30%;
}

.contentdoc {
  color: #000;
}

.contentdoc ul {
  margin: 0;
  padding: 0;
}

.contentdoc ul li {
  list-style: none;
  padding-top: 4px;
  padding-right: 40px;
}

.contentdoc li {
  padding-top: 5px;
}

.downipdoc a {
  font-size: 14px;
  margin-top: 8px;
  display: inline-flex;
  align-items: center;
  color: #3a5cb7;
  text-decoration: underline;
}

.downipdoc span {
  background-image: url(../img/doc.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  line-height: 30px;
  padding: 0px 20px 0px 20px;
  width: 30px;
  height: 30px;
}

/*  end fourth */
/* questions */
#questions {
  width: 100%;
  margin-top: 30px;
}

#questions h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}

.warp_questions {
  max-width: 1170px;
  margin: 30px auto;
}

.blck_question span {
  background-image: url(../img/question1.svg);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  padding: 0px 20px 0px 20px;
  width: 50px;
  height: 50px;
}

.blck_question a {
  text-transform: uppercase;
  padding-left: 20px;
  line-height: 50px;
  color: #000;
  width: 100%;
}

.ques {
  width: 100%;
  display: flex;
  background-color: #f9f8f8;
  margin-bottom: 4px;
  transition: ease-in-out .3s;
}

.ques:hover {
  background-color: #e4d01b;

}

.block_answer {
  display: none;
}

.show_quest {
  display: inherit;
  transition: ease-in-out .3s;
}

.block_answer {
  transition: ease-in-out .5s;
  border: 1px solid #e4d01b;
  padding: 20px;
  margin-bottom: 4px;
}

/* end questions */
/* Comments */
#comments {
  width: 100%;
}

#comments h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}

.wrap_comments {
  max-width: 1170px;
  margin: 30px auto 30px;
  height: auto;
  overflow: hidden;
  /* border: 1px solid black; */
}

#wrap_slids {
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-start;
}

.slider {
  flex: 0 0 100%
}

.arrows {
  margin-top: 50px;
}

.text_comments h5 {
  padding-bottom: 15px;
}

.text_comments p {
  padding-bottom: 15px;
  padding-right: 60px;
  font-size: 18px;
}

.img_comments img {
  margin: 0 auto;
}

.text_comments {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 50% 50%;
}

.arrows a {
  display: inline-block;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  padding: 0px 20px 0px 20px;
  width: 50px;
  height: 50px;
}

.arrows a:hover {
  opacity: .8;
}

.left {
  background-image: url(../img/arrowl.svg);
}

.right {
  background-image: url(../img/arrow.svg);
}

/* end comments */
/* Contact */
#contacts {
  width: 100%;
  background: url(../img/streamline2.jpg);
  height: 100%;
  background-size: cover;
}

#contacts h3 {
  color: #FFF;
  text-transform: uppercase;
  padding-top: 30px;
  font-size: 20px;
  padding-bottom: 30px;
}

#contacts p {
  color: #f9f8f8;
}

.into_info {
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 50% 50%;
}

.cont_info>div {
  margin-bottom: 30px;
}

.cont_info h5 {
  color: #FFF;
  position: relative;
  padding-left: 35px;
  display: block;
  line-height: 25px;

}

.cont_info h5::before {
  content: '';
  background-image: url(../img/agreement.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

.requisite p {
  padding-left: 35px;
}

.requisite p b {
  font-size: 14px;
}

.cont_info a {
  color: #f9f8f8;
}

.phone_cont,
.mail_cont {
  position: relative;
  padding-left: 35px;
  line-height: 25px;
  display: block;
}

.phone_cont::before {
  content: '';
  background-image: url(../img/phone-call.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

.mail_cont::before {
  content: '';
  background-image: url(../img/envelope2.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
}

.soc p {
  padding-bottom: 5px;
}

.text_cont_down {
  text-align: center;
  width: 70%;
}

/* Footer */
footer {
  max-width: 1170px;
  margin: 0 auto;
}

.politic a {
  font-size: 14px;
  border-bottom: 1px dashed #fff;
}

.copyright {
  padding-top: 10px;
  font-size: 12px;
}

/* Form №1 */
#form {
  padding: 40px;
  border: 1px solid #fff;
}

#form input {
  display: grid;
  width: 80%;
  color: #fff;
  font-size: 16px;
}

#form input::-webkit-input-placeholder {
  font-size: 16px;
  color: #f9f8f8;
}

#form input[type="text"],
#form input[type="tel"] {
  border-bottom: 1px solid #fff;
  background: none;
  border-right: unset;
  border-top: unset;
  border-left: unset;
  outline: 0;
  margin: 0 auto 20px;
}

#form input[type="button"] {
  margin-bottom: 10px;
  border: 1px solid #e4d01b;
  outline: 0;
  background: #e4d01b;
  padding: 10px;
  color: #FFF;
  margin: 30px auto 10px;
  cursor: pointer;
}

#form input[type="button"]:hover {
  border: 1px solid #fff;
  background: none;
}

#form p {
  font-size: 12px;
  width: 80%;
  margin: 30px auto 0;
}

/* Form2 */
.fullfon {
  display: none;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .9)
}

.fullopen {
  display: block;
}

.results {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  max-width: 500px;
  padding: 40px;
  background: #3C47AE;
  color: #fff;
  z-index: 150;
}

.results h6 {
  font-size: 22px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.results p {
  font-size: 16px;
}

/* Forma */
.blockforma {
  top: 0;
  left: 0;
  line-height: normal;
  position: fixed;
  z-index: 10;
  background: #3C47AE;
  max-width: 450px;
  color: #fff;
  height: auto;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 92%;
}

input[type="submit"] {
  background: #3C47AE;
  border: 1px solid #fff;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

input[type="submit"]:hover {
  background: #fff;
  border: 1px solid #fff;
  color: #3C47AE;
}

.show-form {
  display: none;
}

.blockforma h5 {
  font-size: 20px;
  padding-bottom: 40px;
  padding-top: 40px;
  font-family: 'Roboto', sans-serif;
}

.blockforma form {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 70%;
  align-items: center;
}

.blockforma form input {
  margin-bottom: 5px;
  padding: 15px;
}

#textch {
  padding-top: 40px;
  font-size: 12px;
  display: flex;
  padding-bottom: 40px;
}

#textch input {
  margin: 0;
}

#textch p {
  padding-left: 5px;
}

#textch a {
  color: #000
}

/* end Forma */
/* Мобильная */
@media (max-width: 900px) {

  /* Left */
  .wrap_head {
    grid-template-columns: 92%;
    justify-content: space-evenly;
  }

  #logo img {
    width: 110px;
  }

  #logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    padding: 10px 0px 10px 0px;
  }

  .menu ul {
    margin: 30px auto;
  }

  .phonemob {
    display: inherit;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 18px;
  }

  .phonemob a {
    color: #000;
  }

  .garant {
    display: none;
  }

  .mobmenu_show {
    display: none;
  }

  .menu_but {
    display: flex;
    margin-top: 10px;
    border: 1px solid #000;
    text-transform: uppercase;
    padding: 5px;
    align-items: center;
    justify-content: center;
  }

  .menu_but span {
    background-image: url(../img/menu1.svg);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-left: 5px;
  }

  /* Right */
  .container_menu {
    grid-template-columns: 92%;
    justify-content: space-evenly;
    padding: 10px 0px 10px 0px;
  }

  .phone {
    display: none;
  }

  .container_menu h1 {
    font-size: 26px;
  }

  /* Service */
  .ineed {
    margin-top: 30px;
  }

  .service {
    grid-template-columns: 92%;
    justify-content: space-evenly;
  }

  .mapk img {
    width: 35%;
  }

  .license img {
    width: 20%;
  }

  .term a {
    margin-bottom: 20px;
  }

  /* Process */
  .wrap_process {
    grid-template-columns: 92%;
    justify-content: space-evenly;
  }

  /* MAP */
  .wrap_map {
    grid-template-columns: 92%;
    justify-content: space-evenly;
  }

  .img_map {
    margin: 0 auto;
    width: 70%;
  }

  /* international_map */
  .international_map {
    grid-template-columns: 92%;
    justify-content: space-evenly;
  }

  .priceinto {
    display: grid;
    grid-template-columns: 92%;
    justify-content: space-evenly;
  }

  .img_international {
    margin: 0 auto;
    width: 70%
  }

  .info {
    grid-template-columns: 92%;
    justify-content: space-evenly;
  }

  .textmap span {
    display: none;
  }

  #button {
    width: 100%;
  }

  .textp {
    padding-top: 20px;
  }

  /* Fine */
  .warp_fine {
    width: 92%;
    text-align: left;
  }

  .warp_fine h4 {
    line-height: normal;
    padding-left: 55px;
  }

  .warp_fine p {
    padding-left: 18%;
    padding-top: 10px;
    font-size: 16px;
  }

  .warp_fine h4::before {
    left: 0;
  }

  /* Why */
  .wrap_why {
    justify-content: space-evenly;
    grid-template-columns: 92%;
  }

  .img_why {
    display: none;
  }

  .text_why .phone_text_why {
    font-size: 18px;
    text-align: center;
  }

  .text_why p {
    padding-left: 0;
  }

  .text_why h3 {
    padding-left: 0;
  }

  /* Document */
  .show {
    justify-content: space-evenly;
    grid-template-columns: 92%;
  }

  .toogledoc {
    width: auto;

  }

  .toogled {
    flex: 1 1;
  }

  .contentdoc ul li {
    padding-right: 0;
  }

  .downipdoc {
    padding-top: 20px;
  }

  #button_block_app {
    width: auto;
  }

  .blck_question a {
    padding-top: 12px;
    line-height: normal;
    text-transform: unset;
  }

  .blck_question span {
    padding-right: 30px;
  }

  /* Comments */
  .text_comments {
    justify-content: space-evenly;
    grid-template-columns: 92%;
  }

  .text_comments p {
    padding-right: 10px;
  }

  .img_comments img {
    width: 92%;
  }

  .arrows {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .text_comments p {
    font-size: 16px;
  }

  /* Contact */
  .into_info {
    justify-content: space-evenly;
    grid-template-columns: 92%;
  }

  #contacts {
    padding-bottom: 10px;
    height: auto;
    background-position: center center;
  }
}

@media (max-width: 414px) {
  .mapk img {
    width: 55%;
  }

  .license img {
    width: 38%;
  }

  .img_map {
    margin: 0;
    width: 100%;
  }

  .img_international {
    margin: 0;
    width: 100%
  }
}

@media (max-width: 320px) {
  .license img {
    width: 48%;
  }

}